*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*.mp-menu {
	overflow-y: scroll;
	background: #fff;
}*/

/*.mp-level {
	overflow: hidden;
}*/

.menu-trigger {
	color: #24a1af;
	font-size: 21px;
	-webkit-font-smoothing: antialiased;
	font-weight: 300;
	line-height: 33px;
	display: inline-block;
	width: 40px;
	height: 40px;
}

.menu-trigger:hover .line {
	background-color: #24a1af;
}

.menu-trigger-container {
	position: absolute;
	z-index: 100;
	width: 41px;
	height: 39px;
	/*border: 1px solid #8c8c8c;*/
	background: url("../images/menu.png") no-repeat;
	text-align: center;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	top: 131px;
	left: 5px;
	background-size: 41px 39px;

	/*background: url("../../images/menu-trigger.png") no-repeat;
	background-size: 40px 40px;*/
}

.menu-trigger:before {
	position: absolute;
	top: 2px;
	left: 0;
	width: 40px;
	height: 6px;
}

.menu-trigger .line {
	border: 1px solid #24a1af;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	width: 20px;
	height: 5px;
	display: inline-block;
	float: left;
	margin: 3px 0 0 10px;

	-webkit-transition: background-color 0.2s linear;
	-moz-transition: background-color 0.2s linear;
	-ms-transition: background-color 0.2s linear;
	-o-transition: background-color 0.2s linear;
	transition: background-color 0.2s linear;
}

.menu-trigger .line:first-child {
	margin-top: 9px;
}

.mp-pusher {
	position: relative;
	left: 0;
	height: 100%;
}

.mp-menu {
	position: absolute; /* we can't use fixed here :( */
	top: 0;
	left: 0;
	z-index: 11;
	width: 270px;
	height: 100%;
	-webkit-transform: translate(-100%, 0);
	-moz-transform: translate(-100%, 0);
	-ms-transform: translate(-100%, 0);
	transform: translate(-100%, 0);
	-webkit-backface-visibility: hidden;
}

.mp-menu li a:before {
	margin-right: 14px;
}

.mp-menu .icon-arrow-left > a:before {
	content: '\e765';
	font-family: "icons";
	font-size: 16px;
}

.mp-level {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	-webkit-transform: translate(-100%, 0);
	-moz-transform: translate(-100%, 0);
	-ms-transform: translate(-100%, 0);
	transform: translate(-100%, 0);
	-webkit-backface-visibility: hidden;
}

.mp-level .logo {
	text-align: center;
	margin: 45px auto;
	display: inline-block;
	width: 250px;
}

/* overlays for pusher and for level that gets covered */
.mp-pusher::after,
.mp-level::after,
.mp-level::before {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	content: '';
	opacity: 0;
}

.mp-pusher::after,
.mp-level::after {
	background: rgba(0,0,0,0.3);
	z-index: 11;
	-webkit-transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
	-moz-transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
	-ms-transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
	transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
	-webkit-backface-visibility: hidden;
}

.mp-level::after {
	z-index: 0;
}

.mp-pusher.mp-pushed::after,
.mp-level.mp-level-overlay::after {
	width: 100%;
	height: 100%;
	opacity: 1;
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	-ms-transition: opacity 0.3s;
	transition: opacity 0.3s;
	-webkit-backface-visibility: hidden;
}

.mp-level.mp-level-overlay {
	cursor: pointer;
}

.mp-level.mp-level-overlay.mp-level::before {
	width: 100%;
	height: 100%;
	background: transparent;
	opacity: 1;
}

.mp-pusher,
.mp-level {
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
	z-index: 1;
}

/* overlap */
.mp-overlap .mp-level.mp-level-open {
	box-shadow: 1px 0 2px rgba(0,0,0,0.2);
	-webkit-transform: translate(-40px, 0);
	-moz-transform: translate(-40px, 0);
	-ms-transform: translate(-40px, 0);
	transform: translate(-40px, 0);
	-webkit-backface-visibility: hidden;
}

/* First level */
.mp-menu > .mp-level,
.mp-menu > .mp-level.mp-level-open,
.mp-menu.mp-overlap > .mp-level,
.mp-menu.mp-overlap > .mp-level.mp-level-open {
	box-shadow: none;
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
	-webkit-backface-visibility: hidden;
}

/* cover */
.mp-cover .mp-level.mp-level-open {
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
	z-index: 1;
	-webkit-backface-visibility: hidden;
}

.mp-cover .mp-level.mp-level-open > ul > li > .mp-level:not(.mp-level-open) {
	-webkit-transform: translate(-100%, 0);
	-moz-transform: translate(-100%, 0);
	-ms-transform: translate(-100%, 0);
	transform: translate(-100%, 0);
	z-index: 1;
	-webkit-backface-visibility: hidden;
}

/* content style */
.mp-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	margin: 0px 5px;
	border: 1px solid #e5e5e5;
	border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
}

.mp-menu .mp-level-open ul li ul {
	border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
}

.mp-menu h2 {
	margin: 0;
	padding: 1em;
	color: #000;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		right top,
		color-stop(0.43, rgb(198,173,154)),
		color-stop(0.84, rgb(36,161,175))
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 300;
	font-size: 2em;
}

.mp-menu.mp-overlap h2::before {
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 8px;
	font-size: 75%;
	line-height: 1.8;
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.1s 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.1s 0.3s;
	-ms-transition: opacity 0.3s, -ms-transform 0.1s 0.3s;
	transition: opacity 0.3s, transform 0.1s 0.3s;
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-backface-visibility: hidden;
}

.mp-menu.mp-cover h2 {
	text-align: center;
	font-size: 50px;
	line-height: 58px;
	padding: 0;
	font-family: "Lato";
	vertical-align: middle;
	display: inline-block;
	margin-top: -8px;
}

.menu-title {
	height: 132px;
	line-height: 132px;
	vertical-align: middle;
	display: inline-block;
	width: 100%;
	text-align: center;
}

.mp-overlap .mp-level.mp-level-overlay > h2::before {
	opacity: 1;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	-ms-transition: -ms-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	transform: translateX(0);
	-webkit-backface-visibility: hidden;
}

.mp-menu ul li > a {
	display: block;
	padding: 9px 5px 9px 20px;
	outline: none;
	text-decoration: none;
	color: #404040;
	font-family: "Lato";
	font-weight: 300;
	font-size: 17px;
	-webkit-transition: background 0.3s, box-shadow 0.3s;
	-moz-transition: background 0.3s, box-shadow 0.3s;
	-ms-transition: background 0.3s, box-shadow 0.3s;
	transition: background 0.3s, box-shadow 0.3s;
	-webkit-backface-visibility: hidden;
}

.mp-menu ul li::before {
	position: absolute;
	left: 10px;
	z-index: 0;
	color: rgba(0,0,0,0.2);
	line-height: 3.5;
}

.mp-level > ul > li:first-child > a {
	box-shadow: inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2);
}

.mp-menu .nav li.current-menu-ancestor > a,
.mp-menu .nav li.current-menu-parent > a,
.mp-menu .nav li.current-menu-item > a,
.mp-menu .nav li.current_page_item > a,
.mp-menu .nav li.current-menu-parent > a,
.mp-menu .nav li.dropdown:hover > a,
.mp-menu .current-menu-item a,
.mp-menu ul li a:hover,
.mp-level > ul > li:first-child > a:hover {
	background: #007aff;
	color: #fff;
	width: 259px;
	border: 0;
}

.mp-menu .mp-level.mp-level-overlay > ul > li > a,
.mp-level.mp-level-overlay > ul > li:first-child > a {
	box-shadow: inset 0 -1px rgba(0,0,0,0);
}

.mp-level .nav > li:first-child > a:hover {
	border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
}

.mp-level ul li ul > li:first-child > a:hover {
	border-radius: 0;
	-webkit-border-radius: 0;
}

.mp-level ul > li:last-child > a:hover {
	border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
}

.mp-level .nav > li:last-child > a:hover {
	border-radius: 0 0 0 0;
	-webkit-border-radius: 0 0 0 0;
}

.mp-level ul > li:first-child > a {
	box-shadow: inset 0 0px #e5e5e5,
				inset 0 0px #e5e5e5;
}

.mp-level ul > li > a {
	box-shadow: inset 0 1px #e5e5e5,
				inset 0 1px #e5e5e5;
}

.mp-level ul > li:last-child > a {
	box-shadow: inset 0 0px #e5e5e5,
				inset 0 1px #e5e5e5;
}

.mp-back {
	background: #f9f7f8;
	outline: none;
	color: #404040;
	font-weight: 300;
	display: block;
	position: relative;
	border: 1px solid #e5e5e5;
	-webkit-transition: background 0.3s;
	-moz-transition: background 0.3s;
	-ms-transition: background 0.3s;
	transition: background 0.3s;
	border-radius: 4px 4px 0 0;
	width: 260px;
	font-family: Lato;
	margin-left: 5px;
	border-bottom: 0;
	text-decoration: none;
	font-size: 17px;
	padding: 9px 5px 9px 20px;
}

.mp-back:hover {
	width: 260px !important;
	border-top: 1px solid #007aff !important;
	border-left: 1px solid #007aff !important;
	border-right: 1px solid #007aff !important;
	margin-left: 5px;
}

.mp-back::after {
	font-family: 'icons';
	position: absolute;
	content: "\e766";
	right: 20px;
	line-height: 24px;
}

.mp-menu .mp-level.mp-level-overlay > .mp-back,
.mp-menu .mp-level.mp-level-overlay > .mp-back::after {
	background: transparent;
	box-shadow: none;
	color: transparent;
}